@charset "UTF-8";
/* CSS Document */
.home-bg {
	background-color: rgba(25,200,50, 0.6);
}
.letstravel-bg  {
	background-color: rgba(25,200,50, 0.6);

}

.letsgetfit-bg {
	background-color: rgba(25,200,50, 0.6);
}

.about-bg {
	background-color: rgba(25,200,50, 0.6);
}

#home {
	background-color: rgba(17, 126, 255, 0.6);
}
#about {
	background-color: rgba(17, 126, 255, 0.6);
}
#letsTravel {
	background-color: rgba(17, 126, 255, 0.6);
}
#letsGetFit {
	background-color: rgba(17, 126, 255, 0.6);
}

.navbar {
	background-color: rgba(17, 126, 255, 0.6);
	-webkit-backdrop-filter: blur(10px);
	margin-bottom: 3%;
	box-shadow: none;
}


#icon {
	position: absolute;
	width: 40px;
	border-radius: 10px;
	left: 0px;
	top: 5px;
	display: none;
}

.navbar-brand {
	width: 35px;
}

.navbar-default {
	width: 100%;
	border: none;
	border-radius: 0px;
	font-size: 1.1em;
	z-index: 100;
}

.navbar-default ul {
	position:absolute;
	top: -85px;
	left: 325px;
	font-size: 18px;

}

.jumbotron {
	height: 150px;
	width: 100%;
	background:  #E8505D;
	margin-bottom: 0px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 30pt;
	color: white;

}
.jumbotron img {
  display: block;
	margin-left: 5%;
	margin-right: auto;
	margin-top: 0px;
  width: 200px;
	z-index: 3;
}

.bottomTag {
	position: fixed;
	margin-top:25px;
	height: 100px;
	width: 100%;
	bottom: 0px;
	background: #484747;
}

.bottomTag h1 {
	text-align: center;
	color: #ffffff;
}

.affix {
  top: 0;
  width: 100%;
}

.affix #icon {
	display: block;
	transition: display 2s;
}

.affix + .container-fluid {
	padding-top: 90px;
}

.affix .navbar {
	backdrop-filter: blur(10px);
}

.affix ul {
	transition: position 3s;
	position: absolute;
	top: 0px;
	left: 40px;
	font-size: 14px;
}

.active a {
	border-radius: 50px;
}


#blogWell {
	width: 575px;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	border-radius: 50px;
}

.media-left img {
	background-color: seagreen;
	width: 50px;
	border-radius: 5px;
}


.aboutWell {
	width: 550px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	height: 400px;
}

.aboutWell h1 {
	text-align: center;
}

.aboutWell h4 {
	float: left;
	text-align: center;
}

.aboutWell img {
	width:150px;
	background-color: #2D9ADB ;
	border-radius: 100px;
}

.aboutWell p {
		font-size: 13pt;
}

.letsTravelWell {
	border-radius: 50px;
	border: none;
	float: left;
	margin: 2%;
	width: 45%;
}

.letsTravelWell h1 {
	text-align: center;
	font-weight: normal;
	margin-top: 0;
}

.letsTravelWell h4 {
	text-align: center;
	font-weight: normal;
	color: white;
}

.letsTravelWell img {
	display:inline-block;
}

.pack {
	width: 225px;
	border-radius: 50px;
	box-shadow: 0px 0px 15px #888888;
	margin: 2%;
}

.pack:hover {
	cursor:pointer;
}

#appIcon {
	width: 75px;
	border-radius: 15px;
}

.employees {
	position: relative;
	float: left;
	width:250px;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

#feedbackBtn {
	background-color: magenta;
	border: none;
}

@media (min-width: 1150px) {
	.aboutWell {
		float: left;
		width: 48%;
		border-radius: 50px;
		margin: 1%;
		margin-bottom: 5%;
		height: 400px;
	}

	#blogWell {
		width: 575px;
		margin-left: auto;
		margin-right: auto;
		height: 1000px;
		border-radius: 50px;
	}
}

@media screen and (max-width: 600px) {
	.aboutWell {
		float: none;
		display: inline-block;
		width: 100%;
		border-radius: 50px;
		height: 100%;
		margin-right: 2%;
		margin-top: 3%;
		margin-bottom: 3%;
	}

	#blogWell {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		border-radius: 50px;
	}

	.employees{
		float: none;
		margin-left: auto;
		margin-right:auto;
	}
	.aboutWell h1 {
		text-align: center;
	}

	.aboutWell h4 {
		float: none;
		text-align: center;
	}
	.aboutWell img {
		float: none;
		display: inline-block;
		width:100px;
	}
	.jumbotron {
		height: 150px;
	}
	.jumbotron img {
		width: 175px;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-default ul {
		position:relative;
		top: 0px;
		left: 0px;

	}
}

footer {
	display: inline;
	width: 100%;
	color: #ffffff;
	height: auto;
}

footer a {
	color: rgb(60,60,60);

}

footer a:hover {
	color: rgb(30,30,30);
	text-decoration: none;
}

.footerSection {
	padding: 1%;
	width: 100%;
	text-align: center;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;

}

.icons {
	border-radius: 30px;
}
